{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="stylesheet" href="{% static 'css/styless2.css' %}">

     <title>Одеський технічний фаховий коледж</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DH4ZYFMFP7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DH4ZYFMFP7');
</script>
<body >
 <div class="lds-facebook"><div></div><div></div><div></div></div>
    <main  class="main">
    <section class="main_nav ">    
        <h1 class="title"><span class="title_main">Бібліотека</span> <p>Одеського  технічного фахового коледжу</p></h1>
        <div class="main_nav1">
            <div class="item_li"><a href="#news">Новини</a></div> 
            <div class="item_li"><a href="#co-worker">Працівники</a></div>
            <div class="item_li"><a href="#Library_funds">Фонд бібліотеки</a></div>
            <div class="item_li"><a href="#Room">Приміщення бібліотеки</a></div>
            <div class="item_li"><a href="#Library_servic">Послуги бібліотеки</a></div>
            <div class="item_li"><a href="#Exhibition">Виставки</a></div>
            <div class="item_li"><a href="#contact_info">Контакти бібліотеки</a></div>
            <div  class="main_img"><img src="../static/img/tfk2.svg" alt="" class="img_tfk"></div>
        </div>
    </section>
    <section class="section_news"  id="news">
      <div class="conteiner_news">
        <h1 class="new_title">Новини</h1>
        <div class="scroll_news">
          {% for post in news %}
          <div class="new_item">
            <h1 class="news_title">{{ post.title }}</a></h1>
            <p class="news_text">{{ post.text|linebreaksbr }}</p> 
        </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="section_worker"  id="co-worker">
      <div class="conteiner_worker">
        <div class="title_box"><h1 class="worker_title">Працівники</h1></div>
        <div class="scroll_worker ">
          {% for post in coworker %}
          <div class=" grid_worker">
            <div class="grid_worker_item1"><h1 class="coworker_title ">{{ post.full_name }}</h1>
            <p class="coworker_text">{{ post.text }}</p>
          </div>
            <div class="grid_worker_item2">
              <img class="img_coworker" src="{{post.photo.url}}" alt="{{ post.full_name }}" >
            </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="section_funds"  id="Library_funds">
      <div class="conteiner_funds">
      <div class="title_box"><h1 class="worker_title">Фонд бібліотеки</h1></div>
      <div class="scroll_item">
        {% for post in fund %}
          <h1 class="funds_title">{{ post.full_name }}</h1>
          <p class="funds_text">{{ post.text }}</p>
        {% endfor %}
      </div>
    </div>
      </section>
    <section class="section_room" id="Room">
      <div class="conteiner_room">
      <div class="title_box"><h1 class="worker_title">Приміщення бібліотеки</h1></div>
      <div class="scroll_item">
        {% for post in room %}
        <div class=" grid_worker">
          <div class="grid_worker_item1"><h1 class="coworker_title ">{{ post.title }}</h1>
          <p class="coworker_text">{{ post.text }}</p>
          </div>
          <div class="grid_worker_item2">
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
          {% for p in photos %}
            <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
          {% endfor %}
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            {% for p in photos %}
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
              <img class="d-block  " src="{{p.photo.url}}"
                alt="First slide">
            </div>
            {% endfor %}
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
      </div>
          </div>
      </div>
      {% endfor %}
      </div>
      </div>
    </section>
    <section class="section_servic" id="Library_servic">
      <div class="conteiner_servic">
      <div class="title_box"><h1 class="worker_title">Послуги бібліотеки</h1></div>
      <div class="scroll_item">
        {% for post in servic %}
        <div class="servic">
          <h1 class="servic_title">{{ post.name_services }}</h1>
        </div>
        {% endfor %}
      </div></div>
    </section>
    <section class="section_exhibition" id="Exhibition">
      <div class="conteiner_exhibition">
      <div class="title_box"><h1 class="worker_title">Виставки</h1></div>
      <div class="scroll_item">
        {% for post in exhibition %}
        <div class=" exhibition">
          <div class="grid_exhibition_item1">
          <img class="img_exhibition" src="{{post.photo.url}}" alt="{{ post.title }}" >
        </div>
        <div class="grid_exhibition_item2">
          <div class="exhibition_title">{{post.title}}</div>
          <div class="exhibition_description">
              <p>{{post.text|linebreaksbr}}</p>
          </div>
          <div class="exhibition_btn">
            <a class="exhibition_link" href="{{post.doc.url}}" target="_blank" download>ДИВИТИСЯ</a>
          </div>
        </div>
      </div>
        {% endfor %}
      </div></div>
    </section>
    <section class="section_info" id="contact_info">
      <div class="conteiner_info">
      <div class="title_box"><h1 class="worker_title">Контакти бібіліотеки</h1></div>
      <div class="contact_info">
        <p class="contact-info-item">Україна, 65006,<br/>м. Одеса, вул. Балківська, 54</p>
        <p class="contact-info-item">Бібліотека працює з 9.00 до 16.00<br> понеділок - п'ятниця</p>
        <p class="contact-info-item"><a href="tel:7531679"><i class="fas fa-phone"></i> 753-16-79</a></p>
        <p class="contact-info-item"><a href="mailto:bibliotekaotk@gmail.com"><i class="fas fa-at" ></i> bibliotekaotk@gmail.com</a></p> 
      </div>
      <!-- <div></div> -->
    </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
<script src="{% static 'js/index.js' %}" charset="UTF-8"></script>
</body>
</html>
